@import './variables';

body{
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing:vantialiased;
    color: $dark;
}

nav li:last-child a{
    background:$primary;
    &:hover{
        background:$primary-hover;
    }
}
nav li a{
    transition: $smooth;
    &:hover{
        color:$primary;
    }
}

.hero{
   background: $secondary;
}
.size{
    background: $secondary;
}

.add-to-cart{
    border:2px solid $primary;
    color:$primary;
    transition:$smooth;
    &:hover{
        background: $primary;
        color:$pure;
        border-color: $pure;
    }
    &:focus{
        outline:none;
    }
}

.btn{
    background: $primary;
    transition: $smooth;
    &:hover{
        background: $primary-hover;
    }
}
.empty-cart{
    background: $secondary;
}

section .login {
    background: $secondary;
    min-height: calc(100vh - 86px);
    a {
        color: $primary;
        &:hover {
            color: $primary-hover;
        }
    }
}
