<section>
    <!-- <div class="empty-cart py-16">
        <div class="container mx-auto">
        <h1 class="text-3xl font-bold text-center m-4">Cart Empty 😕</h1>
        <p class="text-center text-gray-500 text-xl">you probably haven't ordered a pizza yet.<br> To order a pizza, go to main page.</p>
        <div class="w-2/5 container mx-auto m-6">
            <img src="/Images/empty-cart.png" alt="not">
        </div>
            <a href="/" class="inline-block btn font-bold text-white py-2 px-6 text-xl rounded-full mt-12">
                Go back
            </a>   
        </div>
    </div> -->

    <div class="empty-cart py-16">
        <div class="w-1/2 container mx-auto">
            <div class="flex items-center mb-6">
                <img src="Images/cart-black.png" alt="not">
                <h2 class="font-bold text-2xl ml-6">Order Summary</h2>
            </div>
            <hr>

        <div>
            <div class="">
                <img src="Images/pizza.png" alt="not">
            </div>
            <div>
                <h1 class="font-bold text-2xl">Marinara</h1>
                <h3 class="text-xl uppercase ">Medium</h3>
            </div>
                <h3 class="text-lg">1pcs</h3>
                <h3 class="font-bold text-lg">₹300</h3>
        </div>
      

        </div>
    </div>
</section>